<div class="alert alert-info">
    Pull the list of Retailers via Entity Framework and WebAPI using handlebars.js
</div>

<div id="efResults"></div>

<script id="retailers-table" type="text/x-handlebars-template">
    <table>
        <thead>
            <tr>
                <th width="80px" align="left">Id</th>
                <th width="250px" align="left">Name</th>
                <th width="400px" align="left">Description</th>
                <th width="120px" align="left"># Products</th>
                <th width="75px" align="left">Edit</th>
                <th width="75px" align="left">Delete</th>
                <th width="150px" align="left">Manage Products</th>
            </tr>
        </thead>
        <tbody>
            {{#each this}}
            <tr>
                <td class="retailerId" width="80px">{{id}}</td>
                <td class="retailerName" width="250px">{{name}}</td>
                <td class="retailerDescription" width="400px">{{description}}</td>
                <td width="120px">{{Products.length}}</td>
                <td width="75px"><a href="#" class="edit-retailer btn btn-xs btn-success" data-id="{{id}}">Edit</a></td>
                <td width="75px"><a href="#" class="delete-retailer btn btn-xs btn-danger" data-id="{{id}}">Delete</a></td>
                <td width="150px"><a href="#" class="manage-retailer-products btn btn-xs btn-info" data-id="{{id}}">Manage Products</a></td>
            </tr>
            {{/each}}
            <tr>
                <td colspan="6"><a href="#" class="add-retailer btn btn-xs btn-primary">Add</a></td>
            </tr>
        </tbody>
    </table>
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#efResults").hide();
        ListRetailersWithHandlebars()
    });

    $('body').on('click', '.edit-retailer', function () {

        var id = $(this).data('id');  // Get the id from the edit button

        // Since we have the id, call the backend to get existing data and populate dialog
        var uri = '/api/GDFApi/GetRetailer/' + id;
        $.getJSON(uri).done(
            function (data) {

                createDialog('/api/GDFApi/UpdateRetailer', 'Edit Retailer');

                var $frm = $('#dialog-addedit-form');  // Update dialog with existing values
                $frm.find('#id').attr('value', id);
                $frm.find('#name').attr('value', data.name);
                $frm.find('#description').attr('value', data.description);

                $frm.dialog("open");
                ListRetailersWithHandlebars();
            });

    }).on('click', '.delete-retailer', function () {

        var link = $(this);
        var uri = '/api/GDFApi/DeleteRetailer/' + link.data('id');
        $.ajax({
            url: uri,
            cache: false,
            type: "DELETE",
            success: function (data) {
                ListRetailersWithHandlebars();
            }

        });

    }).on('click', '.add-retailer', function () {

        createDialog('/api/GDFApi/AddRetailer', 'Add Retailer');
        $('#dialog-addedit-form').dialog("open");

    }).on('click', '.manage-retailer-products', function () {

        var uri = '/GDFMvc/ManageProducts/' + $(this).data('id');
        $.get(uri).done(function (data) {
            $("html").html(data);
        }).fail(
                function (jqXHR, textStatus, err) {
                    alert(err);
                }
            );

    });

    function createDialog(uri, title) {

        var dialogForm = '<div id="dialog-addedit-form" title="' + title + '" data-uri="' + uri + '"><form><input type="hidden" id="id" name="id" /><table><tr><td><label for="name">Name:</label><input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" required /></td></tr><tr><td><label for="description">Description:</label><input type="text" name="description" id="description" class="text ui-widget-content ui-corner-all" required/></td></tr></table></form></div>';
        $("body").append(dialogForm);

        $("#dialog-addedit-form").dialog({
            autoOpen: false,
            height: 200,
            width: 340,
            modal: true,
            buttons: {
                "Save": function () {
                    debugger;
                    var $frm = $(this).find('form');
                    $frm.validate();  // Jquery Validation
                    if (!$frm.valid()) {
                        $frm.showErrors();
                    }
                    else {

                        var retailerId = $frm.find('#id').val();
                        var retailerName = $frm.find('#name').val();
                        var retailerDescription = $frm.find('#description').val();
                        var uri = $(this).data('uri');

                        $.ajax({
                            url: uri,
                            cache: false,
                            type: "POST",
                            data: {
                                id: retailerId,
                                name: retailerName,
                                description: retailerDescription
                            },
                            success: function (data) {
                                ListRetailersWithHandlebars();
                            }
                        });

                        closeDialog($(this));
                    }
                },
                Cancel: function () {
                    closeDialog($(this));
                }
            },
            Cancel: function () {
                closeDialog($(this));
            }
        })
    };

    function closeDialog(dlg) {
        dlg.dialog("destroy");
        $('#dialog-addedit-form').remove();
    }

    function ListRetailersWithHandlebars() {
        var uri = '/api/GDFApi/GetAllRetailers';
        $.getJSON(uri).done(
            function (data) {
                var source = $("#retailers-table").html();

                var template = Handlebars.compile(source);  // Compile HandleBar template
                var html = template(data);  // Pass returned json data to handlebar template

                $("#efResults").html(html);
                $("#efResults").show("explode", 1000);
            }
            ).fail(
                function (jqXHR, textStatus, err) {
                    alert(err);
                }
            );
    }

</script>
