<div class="alert alert-warning">
    Display a list of ordinary links that we can show in Mobile scenario
</div>

<div>
    <ul data-role="listview">
        <li><a href="http://www.godatafeed.com/">GoDataFeed</a></li>
        <li><a href="https://www.amazon.com">Amazon</a></li>
        <li><a href="https://www.codeproject.com">Code Project</a></li>
        <li><a href="http://www.pricegrabber.com/">Price Grabber</a></li>
        <li><a href="http://www.nextag.com/">Nextag</a></li>
    </ul>
</div>