
<div class="alert alert-danger">
    Pull the list of Retailers via Entity Framework and WebAPI and bind to a table using AngularJS
</div>

<!-- View -->
<div ng-app>
    <div ng-controller="retailersController">
        <table>
            <thead>
                <tr>
                    <th width="50px" align="left">Id</th>
                    <th width="300px" align="left">Name</th>
                    <th width="500px" align="left">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="retailer in retailersList">
                    <td>{{retailer.id}}</td>
                    <td>{{retailer.name}}</td>
                    <td>{{retailer.description}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script type="text/javascript">

    // Controller
    function retailersController($scope) {
        var uri = '/api/GDFApi/GetAllRetailers';
        $.ajax({
            dataType: "json",
            url: uri,
            async: false
        }).done(
            function (data) {
                // Model
                $scope.retailersList = data;
            });
    };

</script>
