@{
    ViewBag.Title = "Default Page";
}

<!DOCTYPE html>

@*<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>*@

http://www.w3schools.com/tags/tag_audio.asp

<section></section>

<div>
    Hi Mark
</div>

<div id="ModerizrResults" ></div>

<p id="retailer" />

<script type="text/javascript">
    
    $(document).ready(function () {
        //if (Modernizr.audio) {
        //    var audioControl = '<audio src="http://localhost:51502/Content/Kalimba.mp3" autoplay="autoplay" controls="controls" />';
        //    $('#ModerizrResults').addClass('go').append('Modernizr knows you can handle the music<br/>').append(audioControl);
        //} else {
        //    $('#ModerizrResults').addClass('stop').append('Sorry, Modernizer says audio is Not Supported');
        //}

        debugger;
        CallWebAPI();
    });



</script>
