@{
    ViewBag.Title = "GoDataFeed Demo";
}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Modernizr</a></li>
        <li><a href="#tabs-2">Entity Framework</a></li>
        <li><a href="#tabs-3">Dapper and knockoutJS</a></li>
        <li><a href="#tabs-4">AngularJS</a></li>
    </ul>
    <div id="tabs-1">
        <p>@Html.Partial("~/Views/GDFMvc/_partialModernizr.cshtml")</p>
    </div>
    <div id="tabs-2">
        <p>@Html.Partial("~/Views/GDFMvc/_partialEntityFramework.cshtml")</p>
    </div>
    <div id="tabs-3">
        <p>@Html.Partial("~/Views/GDFMvc/_partialDapper.cshtml")</p>
    </div>
    <div id="tabs-4">
        <p>@Html.Partial("~/Views/GDFMvc/_partialAngularJS.cshtml")</p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>
