body {    
    font-family:'Liberation Sans, Arial, sans-serif';
    font-size:16px;
    font-weight: normal;
}

.mainbody-div {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.gdf-banner {
    background-color: #1e2123;
    padding-top: 20px;
    padding-bottom: 60px;
}

.pull-left {
    float: left !important;
}

.hide-sm {
    display: block !important;
}

.go {
    color: green;
}

.stop {
    color: red;
}

.button {
    border-radius: 4px;
}